#chat {
    position: fixed;
    width: 300px;
    right: 5px;
    bottom: 0%;
    background-color: rgba(217, 220, 229);
}

#chat ::selection {
    background-color: rgba(128, 128, 255, 0.25);
}

#chat-bar {
    height: 25px;
    text-indent: 5px;
    border: black;
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 2px;
    border-bottom-style: none;
    font-size: 20px;
    user-select: none;
}

#chat-body {
    display: block;
    border: black;
    border-style: solid;
    border-width: 2px;
    display: none;
}

#chatRooms {
    /* display: inline-block;
    border-width: 2px;
    width: 100%;
    height: 20px;
    font-size: 16px; */
    user-select: none;
}

.selectRoom {
    float: left;
    width: 60px;
    text-align: center;
    border-right-style: solid;
    border-bottom-style: solid;
    background-color: rgba(150, 150, 170);
    border-width: 2px;
    user-select: none;
}

#chatRoomPadding {
    float: right;
    height: 18px;
    border-bottom-style: solid;
    background-color: rgba(150, 150, 170);
    border-width: 2px;
}

#chatText {
    width: 280px;
    height: 400px;
    font-size: small;
    /* word-break: break-all; */
    overflow-wrap: break-word;
    overflow-y: scroll;
    margin-left: 10px;
    margin-right: 10px;
}

#chatInput {
    width: 270px;
    margin-left: 10px;
}

#roomSelector {
    margin-left: 10px;
}