.ui-tabs-vertical {
    width: 55em;
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: max-content;
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
    background: rgba(150, 150, 170);
    border: 2px solid rgb(130, 130, 130);
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: left;
    width: inherit;
}

.settings-sections {
    
}

#settings-tabs {
    width: inherit;
    display: flex;
}